.btn {
  font-family: "Montserrat", sans-serif;
  font-size: 1.2em;
  line-height: 130%;
  letter-spacing: 0.05em;
  font-weight: 600;
  font-style: normal;
  text-transform: uppercase;
  color: $color-text-light;
  background: $color-text;
  transition: all 0.5s ease;
  border-radius: 20px;
  padding: 20px 32px;
  &:hover {
    @include hover {
      color: $color-text;
      background: $color-text-light;
    }
  }
}
