$color-primary: #ff4646;
$color-text-light: #ffffff;
$color-backgrd-hover: #ff46461a;
$color-content-background: #ecf3f8;
$color-text: #181c29;
$color-inactive: rgba(255, 255, 255, 0.4);
$color-active: rgba(255, 255, 255, 0.2);
$color-harmony: #ff43f7;
$color-healthy: #06a44f;
$color-work: #4361ff;
$color-modal-wrapper: rgba(24, 28, 41, 0.8);

$content-width: 1440px;
$content-small-width: 1100px;
$tablet-width: 768px;
$mobile-big-width: 587px;
